/* div that is the direct child of .container with child combinator */
.container > div {
    padding: 10px;
    text-align: center;
    font-size: 2em;
    color: #ffeead;
}

html, body {
    background-color: #ffeead;
    margin: 10px;
}

.container > div:nth-child(1) {
    background-color: #96ceb4;
}

.container > div:nth-child(2) {
    background-color: #ff6f69;
}

.container > div:nth-child(3) {
    background-color: #88d8b0;
}

.container > div:nth-child(4) {
    background-color: #ff6f69;
}

.container2 {
    background: lightblue;
    padding: 16px;
    border: 4px solid blue;
    gap: 8px;
    display: flex; 
}

.container2 > div {
    background: peachpuff;
    border: 4px solid salmon;
    height: 48px;
    flex: 1;
    padding: 4px;
}

/* flex: 1;
is equivalent to
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
*/

.container3 {
    display: flex;
  }
  
/* this selector selects all divs inside of .flex-container */
.container3 div {
    background: peachpuff;
    border: 4px solid brown;
    height: 100px;
    flex: 2 1 0%;
}
  
/* only div.two is selected here */
.container3 .two {
    flex: 1 1 0%;
}

.container4 {
    display: flex;
}
  
/* this selector selects all divs inside of .flex-container */
.container4 div {
    background: peachpuff;
    border: 4px solid brown;
    height: 100px;
    width: 250px;
    flex: 1 1 auto;
}
  
.container4 .t {
    flex-shrink: 0;
}